.flexDiv {
  display: flex;
  padding-top: 129px;
}
.flexB {
  width: 70px;
  height: 22px;
  margin-top: 7px;
  margin-left: 19px;
}
.flexBossDiv {
  display: block;
}
.flexP {
  margin-top: 48px;
}
.flex2020{
    margin-top: 71px;
}